<% if @current_user.orders.present? %>
  <table border = 1>
  <tr>
    <th><%= t('.Items') %></th>
    <th><%= t('.total')%></th>
  </tr>
    <% @current_user.orders.each do |order| %>
      <tr>
        <td>
          <% order.line_items.each do |line_item| %>
            <%= pluralize(line_item.quantity, line_item.product.title) %>
          <% end %>
        </td>
        <td>
          <%= t('total_price', total_price: order.total_price) %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <h1><%= t('.no_item') %></h1>
<% end %>
