<% if @current_user.line_items.present? %>
  <table border=1>
    <tr>
      <th><%= t('.product') %></th>
      <th><%= t('.Quantity') %></th>
    </tr>
    <% @current_user.line_items.each do |line_item| %>
      <tr>
        <td><%= t('.tiile', title: line_item.product.title) %> </td>
        <td><%= t('.quantity_value', quantity_value: line_item.quantity) %> </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <h1> <%= t('.no_item')%></h1>
<% end %>
